.bien{
    margin-top: 20px;
    background-color: rgba(0, 255, 0, 0.2); /* El último valor (0.5) controla la opacidad (0 = totalmente transparente, 1 = totalmente opaco) */
    border: 2px solid rgba(0, 255, 0, 1);
    border-radius: 10px;
    size: 20px;
    color: rgba(0, 255, 0, 0.7);
    transition: opacity 0.8s ease, height 0.8s ease;
}
.bien h1{
    font-size: 30px;
}
.mal{
    margin-top: 20px;
    background-color: rgba(255, 0, 0, 0.2); /* El último valor (0.5) controla la opacidad (0 = totalmente transparente, 1 = totalmente opaco) */
    border: 2px solid rgba(255, 0, 0, 1);
    border-radius: 10px;
    size: 20px;
    color: rgba(255, 0, 0, 0.7);
    transition: opacity 0.3s ease, height 0.3s ease;
}
.mal h1{
    font-size: 30px;
}